rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{registrationId} {
      allow create: if true;
      allow read, write: if true;
    }
    match /talents/{talentId} {
      allow read: if true;
      allow write: if true;
    }
    match /program/{programId} {
      allow read: if true;
      allow write: if true;
    }
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
    match /{path=**} {
      allow read, write: if true;
    }
  }
}